<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>SUPRESSO &bull; Template</title>

   <link rel="icon" href="ui/img/logo.ico">
   <link rel="stylesheet" href="ui/dist52/css/bootstrap.min.css">
   <link rel="stylesheet" href="ui/bootstrap-icons/bootstrap-icons.css">
   <link rel="stylesheet" href="ui/fonts/font-awesome.min.css">
   <link rel="stylesheet" href="ui/fonts/line-awesome.min.css">
   <link rel="stylesheet" href="ui/icomoon/style.css">
   <link rel="stylesheet" href="ui/css/global.css">
   <link rel="stylesheet" href="ui/css/navtop.css">
   <link rel="stylesheet" href="ui/css/footer.css">
   <link rel="stylesheet" href="ui/css/{{ $pages }}.css">
</head>

<body>

   <main class="wrapper">
      <section>
         <div class="container">
         </div>
      </section>
   </main>

   <script type="text/javascript" src="ui/js/jquery-3.6.0.min.js"></script>
   <script type="text/javascript" src="ui/dist52/js/bootstrap.bundle.min.js"></script>
   <script type="text/javascript" src="ui/js/global.js"></script>
   <script type="text/javascript" src="ui/js/{{ $pages }}.js"></script>

</body>

</html>